.header {
  top: 0;
  z-index: 10;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(10px);
}

.nav-link {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--color-light);
    transition: all 0.3s ease-in;
  }

  &:hover::after {
    width: 100%;
  }
}
