.Auth a {
  overflow: hidden;
  position: relative;
  span {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: -200%;
    width: 100%;
    height: 100%;
  }

  .logobtn {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    span {
      left: 0;
    }

    .logobtn {
      opacity: 0.2;
    }
  }
}
